* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
}

body {
  font-family: "Poppins";
  background-color: #fff;
  overflow-x: hidden;
  /* font-family: 'Luckiest Guy'; */
}